- content_for :css do
  = stylesheet_link_tag "pages/signin", :media => "all"
  = stylesheet_link_tag "custom", :media => "all"

- content_for :nav do
  = render 'public/nav_empty'

- content_for :subnav_empty do "true" end

- content_for :content do
  - form_for(resource, :as => resource_name, 
    :url => registration_path(resource_name)) do |f|
    .account-container.register.stacked
      .content.clearfix
        %form{ :action => "./index.html", :method => "post" }
          %h1 Create Your Account	
          .login-social
            %p Sign in using social network:
            = render 'public/login_social'
          .login-fields
            %p Create your free account:
            
            - unless devise_error_messages!.empty? then
              .alert.alert-error
                %p= devise_error_messages!

            .field
              %label{ :for => "firstname" } First Name:
              = f.text_field :first_name,
                :placeholder              => "First Name",
                :class                    => "login",
                :autocomplete             => "off",
                :autofocus                => "true"
            .field	
              %label{ :for => "lastname" } Last Name:	
              = f.text_field :last_name, 
                :placeholder  => "Last Name",
                :class        => "login",
                :autocomplete => "off"
            .field
              %label{ :for => "email" } Email Address:
              = f.email_field :email, 
                :placeholder  => "Email",
                :class        => "login",
                :autocomplete => "off"
            .field	
              %label{ :for => "password" } Password:
              = f.password_field :password, 
                :placeholder => "Password", 
                :class => "login"
            .field	
              %label{ :for => "confirm_password" } Confirm Password:
              = f.password_field :password_confirmation, 
                :placeholder => "Confirm Password", 
                :class => "login"
            
          .login-actions
            %span.login-checkbox
              %input.field.login-checkbox#Field{ :name  => "Field", 
                :type => "checkbox", :value => "First Choice",
                :tabindex => "4" }
              %label.choice{ :for => "Field" }
                I have read and agree with the Terms of Use.
                      
            %button.button.btn.btn-primary.btn-large Register
            
      .login-extra
        = render "devise/shared/links"

- content_for :footer do
  = "&nbsp;"
