Congratulations <%= @user.nickname %>,

You have been registered with success at Dashboard.

Once you login for first time you can change your password from your configuration profile.

Best regards and Enjoy your access!!
