<%= form_for([post,comment], :html => { :class => "form-horizontal well" }) do |f| %>
	<% if comment.errors.any? %>
		<div id="error_explanation" class="alert alert-error">
			<h5><strong><%= pluralize(comment.errors.count, "error") %></strong> prohibited this comment from being saved:</h5>

			<ul>
				<% comment.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	<% end %>

	<fieldset>
		<legend>comment Details</legend>
		<div class="control-group">
			<%= f.label :title, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :title, :class => "input-xlarge", :rows => 4 %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :body, :class => "control-label" %>
			<div class="controls">
				<%= f.text_area :body, :class => "input-xlarge", :rows => 4 %>
			</div>
		</div>
		<div class="actions">
			<%= f.submit "Save comment", id: "save_comment", :class => "btn btn-info btn-small" %>
			<%= link_to "Cancel", posts_path, id: "cancel_comment", :class => "btn btn-primary btn-small" %>
		</div>		  
	</fieldset>
<% end %>