%ul.comments
  %li{ :id        => "comment-{{ comment.id }}",
    "ng-repeat"   => "comment in comments",
    "commentable" => true,
    "actionable" => true }
    %blockquote 
      = "{{ comment.body }}"
      %p.actions
    .children
