<% id = @post.id %>
$('#post_<%= id %> #new_comment').addClass('disabled')
$('#post_<%= id %> #new_comment').click(function () {return false;});
$('#post_<%= id %> #new_comment_form').hide().append('<%= j render("form") %>').slideDown()
$('#post_<%= id %> #cancel_comment').click(function(event) {
	event.preventDefault()
	$('#post_<%= id %> #new_comment').removeClass('disabled')
	$('#post_<%= id %> #new_comment').unbind('click')
	$('#post_<%= id %> #new_comment_form').slideUp(400, function() {
		$(this).empty()
		$(this).show()
	})	
});