%form{ "ng-submit" => "saveComment(commentableModel.id,newComment)" }
  %blockquote
    %textarea.span3{ :rows => 4, "ng-model" => "newComment.body"  }= "Leave a message..."
    %input.btn.btn-warning{ :type => :submit, :value => "Reply" }
