<%= form_for(@task, :html => { :class => "form-horizontal well" }) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<legend>task Details</legend>
				  <div class="control-group">
		    <%= f.label :task_type_id, :class => "control-label" %>
		    <div class="controls">
		    <%= f.number_field :task_type_id, :class => "input-xlarge" %>
		    </div>
		  </div>
				  <div class="control-group">
		    <%= f.label :name, :class => "control-label" %>
		    <div class="controls">
		    <%= f.text_field :name, :class => "input-xlarge" %>
		    </div>
		  </div>
				  <div class="control-group">
		    <%= f.label :start_date, :class => "control-label" %>
		    <div class="controls">
		    <%= f.datetime_select :start_date, :class => "input-xlarge" %>
		    </div>
		  </div>
				  <div class="control-group">
		    <%= f.label :end_date, :class => "control-label" %>
		    <div class="controls">
		    <%= f.datetime_select :end_date, :class => "input-xlarge" %>
		    </div>
		  </div>
				  <div class="control-group">
		    <%= f.label :duration, :class => "control-label" %>
		    <div class="controls">
		    <%= f.time_select :duration, :class => "input-xlarge" %>
		    </div>
		  </div>
				  <div class="actions">
		    <%= f.submit %>
		  </div>
	</fieldset>
	<% yield :button_group %>
<% end %>