<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th><%= sortable "task_type_id", "Task type" %></th>
      <th><%= sortable "name" %></th>
      <th><%= sortable "start_date" %></th>
      <th><%= sortable "end_date" %></th>
      <th><%= sortable "duration" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.task_type_id %></td>
      <td><%= task.name %></td>
      <td><%= task.start_date %></td>
      <td><%= task.end_date %></td>
      <td><%= task.duration %></td>
			<td>
		    <div class="btn-group">
			    <button class="btn dropdown-toggle" data-toggle="dropdown">
			    Action
			    <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu">
			    	<li><%= link_to 'Show', task  %></li>
			    	<li><%= link_to 'Edit', edit_task_path(task)  %></li>
			    	<li class="divider"></li>
			    	<li><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></li>
			    </ul>
		    </div>
			</td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @tasks %>