<legend>Listing tasks</legend>

<%= form_tag(tasks_path, :class => "well form-search", :method => "get") do %>
	<%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :class => "btn", :name => nil %>
	</p>
<% end %>

<div id="tasks"><%= render 'tasks' %></div>

<div class="form-actions">
<%= link_to 'New Task', new_task_path %>
</div>