<% disabled ||= false %>
<%= form_for user, :html => { :id => "registration_form", :class => "form-horizontal well" } do |f| %>
  <fieldset>
    <legend>New Member</legend>

    <% if flash[:error] %>
      <div class="alert alert-error">
        <%= flash[:error] %>
      </div>
    <% end %>

    <% if user.errors.any? %>
      <div class="alert alert-error">
        <strong>Form is invalid</strong>
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <label class="control-label" for="user_first_name">First Name</label>
      <div class="controls">
        <%= f.text_field :first_name, :disabled => disabled %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="user_last_name">Last Name</label>
      <div class="controls">
        <%= f.text_field :last_name, :disabled => disabled %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="user_nickname">Username</label>
      <div class="controls">
        <%= f.text_field :nickname, :disabled => disabled %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="user_email">Email</label>
      <div class="controls">
        <%= f.text_field :email, :disabled => disabled %>
      </div>
    </div>
    <% if not disabled %>
      <div class="control-group">
        <label class="control-label" for="user_password">Password</label>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="user_password_confirmation">Confirm Password</label>
        <div class="controls">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
    <% end %>
    <div class="form-actions">
      <% if not disabled %>
    		<%= f.submit "Register", :class => "btn btn-primary" %>
        <%= link_to "Cancel", static_pages_home_path, :class => "btn btn-default" %>
      <% else %>
        <%= button_to "Back", static_pages_home_path, :class => "btn btn-default" %>
      <% end %>
    </div>
  </fieldset>
<% end %>