.main
  .container
    .row
      .span4
        .widget.widget-plain
          .widget-content
            = link_to 'Accept New Challenge', :achievements,
              :id    => 'button-1',
              :class => 'btn btn-large btn-warning btn-support-ask'
            = link_to 'Create Achievement', :achievements,
              :id    => 'button-1',
              :class => 'btn btn-large btn-support-contact'
        .widget.stacked
          .widget-header
            %i.icon-bookmark
            %h3 Quick Shortcuts
          .widget-content
            .shortcuts
              = link_to :achievements, :id => 'challenges', :class => 'shortcut' do
                %i.shortcut-icon.icon-trophy
                %span.shortcut-label Challenges
              = link_to :achievements, :id => 'achievements', :class => 'shortcut' do
                %i.shortcut-icon.icon-bookmark
                %span.shortcut-label Achievement
      .span6
        .hero-unit.profile-header
        .widget.stacked.widget-table.action-table
          .widget-header
            %i.icon-th-list
            %h3 Achievements
          .widget-content
            %table.table.table-striped.table-bordered
              %tr
                %td
                  Achievement 1
              %tr
                %td
                  Achievement 2
              %tr
                %td
                  Achievement 1
              %tr
                %td
                  Achievement 2
              %tr
                %td
                  Achievement 1
              %tr
                %td
                  Achievement 2
