<div class="row">
	<div class="span4">
		<div class="well">
			<div class="caption">		
				<h4>Member Login</h4>
				<hr> 
				<%= form_for user, :url => login_path do |f| %>
					<% if flash[:error] %>
						<div class="alert alert-error">
						<%= flash[:error] %>
						</div>					
					<% end %>
				    <% if user.errors.any? %>
					    <div class="alert alert-error">
					      <h2>Form is invalid</h2>
					      <ul>
					        <% for message in @user.errors.full_messages %>
					          <li><%= message %></li>
					        <% end %>
					      </ul>
					    </div>
					<% end %>
					<%= f.text_field :email, :placeholder => "Email or Username" %>
					<%= f.password_field :password, :placeholder => "Password" %>
					<div class="actions"><%= submit_tag "Log In", :id => "", :class => "btn btn-primary btn-large" %></div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<div class="caption">
				<h4>Access from Social Network</h4>
				<hr>
				<p>Sign in using your profile in your favourite social network.</p>
				<ul id="social-network">
					<li><%= link_to "", "/auth/facebook", class: "auth-facebook", title: "Sign in with Facebook" %></li>
					<li><%= link_to "", "/auth/google_oauth2", class: "auth-google", title: "Sign in with Google" %></li>
					<li><%= link_to "", "/auth/linkedin", class: "auth-linkedin", title: "Sign in with LinkedIn" %></li>
					<li><%= link_to "", "/auth/yahoo", class: "auth-yahoo", title: "Sign in with Yahoo" %></li>
					<li><%= link_to "", "/auth/github", class: "auth-github", title: "Sign in with Github" %></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<div class="caption">		
				<h4>Not a member yet? Sign Up!</h4>
				<hr>
				<%= button_to "Register", new_user_path, :method => :get, :class => "btn btn-large btn-warning"  %>
			</div>
		</div>
	</div>
</div>