<legend>Listing users</legend>

<%= form_tag(users_path, :class => "well form-search", :method => "get") do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :class => "btn", :name => nil %>
	</p>
<% end %>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Password</th>
      <th>Email</th>
      <th>Login</th>
      <th>Avatar</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.password %></td>
      <td><%= user.email %></td>
      <td><%= user.login %></td>
      <td><%= user.avatar %></td>
			<td>
		    <div class="btn-group">
			    <button class="btn dropdown-toggle" data-toggle="dropdown">
			    Action
			    <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu">
			    	<li><%= link_to 'Show', user  %></li>
			    	<li><%= link_to 'Edit', edit_user_path(user)  %></li>
			    	<li class="divider"></li>
			    	<li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
			    </ul>
		    </div>
			</td>	    
    </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
<%= link_to 'New User', new_user_path, :class => "btn btn-info" %>
</div>