<% content_for :page_stylesheet do %>

	<%= stylesheet_link_tag "web/pages/signin", :media => "all" %>

<% end %>

<% content_for :page_nav do %>

	<div class="nav-collapse">
		<ul class="nav pull-right">
			<li class="">
				<%= link_to root_path do %>
					<i class="icon-chevron-left"></i>
					Back to Homepage
				<% end %>
			</li>
		</ul>
	</div><!--/.nav-collapse -->	

<% end %>

<% content_for :page_subnav do %>&nbsp;<% end %>

<% content_for :page_content do %>

	<div class="account-container stacked">
		
		<div class="content clearfix">	
			
			<h2>Change your password</h2>

			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
			  <%= devise_error_messages! %>
			  <%= f.hidden_field :reset_password_token %>

			  <div><%= f.label :password, "New password" %><br />
			  <%= f.password_field :password, :autofocus => true %></div>

			  <div><%= f.label :password_confirmation, "Confirm new password" %><br />
			  <%= f.password_field :password_confirmation %></div>

			  <div><%= f.submit "Change my password", :class => "btn btn-primary btn-large" %></div>
			<% end %>
		</div>

	</div>

	<!-- Text Under Box -->
	<div class="login-extra">
		<%= render "devise/shared/links" %>
	</div> <!-- /login-extra -->
<% end %>