<% content_for :page_stylesheet do %>

	<%= stylesheet_link_tag "web/pages/signin", :media => "all" %>

<% end %>

<% content_for :page_nav do %>

	<div class="nav-collapse">
		<ul class="nav pull-right">
			<li class="">
				<%= link_to root_path do %>
					<i class="icon-chevron-left"></i>
					Back to Homepage
				<% end %>
			</li>
		</ul>
	</div><!--/.nav-collapse -->	

<% end %>

<% content_for :page_subnav do %>&nbsp;<% end %>

<% content_for :page_content do %>

	<div class="account-container stacked">
		
		<div class="content clearfix">	
			<h1>Forgot your password?</h1>

			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div><%= f.label :email %><br />
			  <%= f.email_field :email, :autocomplete => "off", :autofocus => true %></div>

			  <div><%= f.submit "Send me reset password instructions", :class => "btn btn-primary" %></div>
			<% end %>
		</div>

	</div>

	<!-- Text Under Box -->
	<div class="login-extra">
		<%= render "devise/shared/links" %>
	</div> <!-- /login-extra -->	

<% end %>