<%= form_for(@widget, :html => { :class => "form-horizontal well" }) do |f| %>
  <% if @widget.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@widget.errors.count, "error") %> prohibited this widget from being saved:</h2>

      <ul>
      <% @widget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<legend>widget Details</legend>
				  <div class="control-group">
		    <%= f.label :name, :class => "control-label" %>
		    <div class="controls">
		    <%= f.text_field :name, :class => "input-xlarge" %>
		    </div>
		  </div>
				  <div class="control-group">
		    <%= f.label :dashboard_id, :class => "control-label" %>
		    <div class="controls">
		    <%= f.number_field :dashboard_id, :class => "input-xlarge" %>
		    </div>
		  </div>
				  <div class="actions">
		    <%= f.submit %>
		  </div>
	</fieldset>
<% end %>