<legend>Listing widgets</legend>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Dashboard</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @widgets.each do |widget| %>
    <tr>
      <td><%= widget.name %></td>
      <td><%= widget.dashboard_id %></td>
			<td>
		    <div class="btn-group">
			    <button class="btn dropdown-toggle" data-toggle="dropdown">
			    Action
			    <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu">
			    	<li><%= link_to 'Show', widget  %></li>
			    	<li><%= link_to 'Edit', edit_widget_path(widget)  %></li>
			    	<li class="divider"></li>
			    	<li><%= link_to 'Destroy', widget, method: :delete, data: { confirm: 'Are you sure?' } %></li>
			    </ul>
		    </div>
			</td>	    
    </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
<%= link_to 'New Widget', new_widget_path %>
</div>