<div class="row" ng-controller="ControlPanelCtrl">
	<div class="span3">
		<div class="well">
			<ul class="nav nav-list">
			  <li class="active"><a href="#"><i class="icon-tags icon-white"></i> Categories</a></li>
			  <li><a href="#"><i class="icon-dashboard"></i> Tasks</a></li>
			  <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
			  <li><a href="#"><i class="i"></i> Misc</a></li>
			</ul>
		</div>
	</div>
	<div class="span9" id="control-panel-content">
		<div class="row">
			<div class="span6">
				<button class="btn"><i class="icon-plus"></i> Add Category</button><br><br>
				<div class="control-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" ng-model="query"/>
					</div>
				</div>				
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>Category</th>
							<th></th>
						</td>
					</thead>
					<tbody>
						<tr ng-repeat="category in taskCategoryList | filter: query">
							<td width="100%">{{category.name}}</td>
							<td>
								<div class="btn-group">
									<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
										Action
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">Edit</a></li>
										<li><a href="#">Delete</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="span3">
				<form ng-submit="addTaskCategory()" class="well">
					<fieldset>
						<h4>Task Category</h4>
						<div class="control-group">
	    					<label class="control-label" for="name">Name</label>
							<div class="controls">
								<input type="text" ng-model="newTaskCategory.name"/>
							</div>
						</div>
						<div class="btn-action">
							<input type="submit" value="Save" class="btn btn-primary" />
							<button class="btn">Cancel</button
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>