- content_for :css do
  = stylesheet_link_tag "pages/signin", :media => "all"
  = stylesheet_link_tag "custom", :media => "all"

- content_for :nav do
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar{ "data-toggle" => "collapse", 
          "data-target" => ".nav-collapse" }
          %i.icon-cog
        %a.brand{ :href => "./index.html" }
          %s= "Life"
          = "OnCharts.com"
          %sup= "Beta"
        .nav-collapse.collapse
          %ul.nav.pull-right
            %li
              = link_to root_path do
                %i.icon-chevron-left
                = "Back to Homepage"

- content_for :subnav do 
  = "&nbsp;".html_safe 

- content_for :content do
  .account-container.stacked
    .content.clearfix
      = form_for(resource, :as => resource_name,
        :url => session_path(resource_name)) do |f|
        %h1= "Sign In"	
        .login-fields
          %p= "Sign in using your registered account:"
          = unless alert.nil? then
            .alert.alert-error
              %h4= "Error"
              %p= alert
          = unless notice.nil? then
            .alert.alert-error
              %h4= "Warning"
              %p= notice
          .field
            %label{ :for=>"username"}= "Username:"
            = f.text_field :email, :placeholder => "Username", 
              :class => "login username-field", :autocomplete => "off"
          .field
            %label{ :for=>"password"}= "Password:"
            = f.password_field :password,
              :placeholder => "Password", :class => "login password-field"
				
        .login-actions
          %span.login-checkbox
            %input.field.login-checkbox{ id: "Field", name: "Field", 
              type: "checkbox", value: "First Choice", tabindex: "4"}
              %label.choice{ for: "Field"}= "Keep me signed in"
										
          %button.button.btn.btn-warning.btn-large= "Sign In"
					
        .login-social
          %p= "Sign in using social network:"
          = render 'public/login_social'

  .login-extra
    = render "devise/shared/links"

- content_for :footer do 
  = "&nbsp;".html_safe 
