<%%= form_for(@<%= singular_table_name %>, :html => { :class => "form-horizontal well" }) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

      <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

	<fieldset>
		<legend><%= singular_table_name %> Details</legend>
		<% attributes.each do |attribute| -%>
		  <div class="control-group">
		    <%%= f.label :<%= attribute.name %>, :class => "control-label" %>
		    <div class="controls">
		    <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :class => "input-xlarge" %>
		    </div>
		  </div>
		<% end -%>
		  <div class="actions">
		    <%%= f.submit %>
		  </div>		  
	</fieldset>
	<%% yield :button_group %>
<%% end %>