<legend>Listing <%= plural_table_name %></legend>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
<% attributes.each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
    <tr>
<% attributes.each do |attribute| -%>
      <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
			<td>
		    <div class="btn-group">
			    <button class="btn dropdown-toggle" data-toggle="dropdown">
			    Action
			    <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu">
			    	<li><%%= link_to 'Show', <%= singular_table_name %>  %></li>
			    	<li><%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>)  %></li>
			    	<li class="divider"></li>
			    	<li><%%= link_to 'Destroy', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' } %></li>
			    </ul>
		    </div>
			</td>	    
    </tr>
    <%% end %>
  </tbody>
</table>

<div class="form-actions">
<%%= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path %>
</div>