<div data-role="header">
	<h1>Dashboard</h1>
</div>
<div data-role="content">
	<ul data-role="listview">
	    <li><a href="#">Log In</a></li>
	    <li><a href="#">Register</a></li>
	    <li><a href="#">About</a></li>
	</ul>
</div>