<%= form_for(post, remote: true, :html => { :class => "form-horizontal well" }) do |f| %>
	<% if post.errors.any? %>
		<div id="error_explanation" class="alert alert-error">
			<h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

			<ul>
				<% post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<fieldset>
		<legend>post Details</legend>
		<div class="control-group">
			<%= f.label :title, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :title, :class => "input-xxlarge" %>
		    </div>
		</div>
		<div class="control-group">
			<%= f.label :body, :class => "control-label" %>
			<div class="controls">
		    	<%= f.text_area :body, :class => "input-xxlarge", :rows => 4 %>
		    </div>
	  	</div>
	  	<hr>
		<div class="actions">
			<%= f.submit "Save", :class => "btn btn-info" %>
			<%= link_to "Cancel", posts_path, id: "cancel", :class => "btn btn-primary" %>
		</div>		  
	</fieldset>
<% end %>