<div class="well" id="post_<%= post.id %>">
	<% notice ||= "" %>

	<div class="row-fluid show-grid">
		<div class="span4">
			<h4><%= link_to_unless_current h(post.title), post %></h4>
		</div>
		<div class="span4 offset4">
		</div>
	</div>	
	
	<%= simple_format h(post.body) %>

	<hr>
	
	<p>
		<%= link_to "New comment", new_post_comment_path(post), remote: true, id: "new_comment", :class => "btn btn-small btn-info" %>
		<%= link_to 'Edit', edit_post_path(post), id: "edit_comment", :class => "btn btn-warning btn-small" %>
		<%= link_to 'Destroy', post, id: "destroy_comment", remote: true, :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger btn-small" %>
	</p>

	<div id="new_comment_message">
		<% if flash["post_#{post.id}_comment_notice"] %>
			<div id="notice" class="alert alert-success"><%= flash["post_#{post.id}_comment_notice"] %></div>
		<% end %>
	</div>
	<div id="new_comment_form"></div>

	<div id="comments">
		<%= render :partial => post.comments %>
	</div>
</div>