$('#new_post').removeClass('disabled')
$('#new_post').unbind('click')
$('#new_post_div').slideUp(400, function() {
	$(this).empty()
	$('<%= j render @post %>').prependTo('#post_list').hide().slideDown()
});
