
<ul class="breadcrumb">
	<li>
		<a href="#">Home</a>
		<span class="divider">/</span>		
	</li>
	<li class="active">Posts</li>
</ul>


<!--
@posts is an array of Post instances, so every post record returns 'posts/post' on `to_partial_path`,
that's why we can replace:
<%= render :partial => "posts/post", :collection => @posts %>
-->

<div class="well form-actions">
	<div class="row-fluid show-grid">
		<div class="span4">
			<%= link_to 'New Post', new_post_path, id: "new_post", remote: true, :class => "btn btn-info" %>
		</div>
		<div class="span4 offset4">
			<span class="badge">current-user</span>
		</div>
	</div>
</div>

<div id="new_post_div"></div>

<div id="post_list">
	<%= render :partial => @posts %>
</div>
