$('#new_post').addClass('disabled');
$('#new_post').click(function () {return false;});
$('#new_post_div').hide().append('<%= j render :partial => "form", :locals => { :post => Post.new } %>').slideDown(400)
$('#new_post_div #cancel').click(function(event) {
	event.preventDefault()
	$('#new_post').removeClass('disabled')
	$('#new_post').unbind('click')
	$('#new_post_div').slideUp(400, function() {
		$(this).empty()
		$(this).show()
	})
});