<!DOCTYPE html>
<html>
<head>
  	<title>Mobile Version!</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= javascript_include_tag "mobile/application" %>
	<%= stylesheet_link_tag "mobile/application", :media => "all" %>
	<%= csrf_meta_tags %>
</head>
<body>
<div data-role="page">
	<%= yield %>
</div>
</body>
</html>