<%= form_for(@achievement, :html => { :class => "form-horizontal well" }) do |f| %>
  <% if @achievement.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@achievement.errors.count, "error") %> prohibited this achievement from being saved:</h2>

      <ul>
      <% @achievement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<legend>achievement Details</legend>
				  <div class="control-group">
		    <%= f.label :title, :class => "control-label" %>
		    <div class="controls">
		    <%= f.text_field :title, :class => "input-xlarge" %>
		    </div>
		  </div>
				  <div class="control-group">
		    <%= f.label :description, :class => "control-label" %>
		    <div class="controls">
		    <%= f.text_field :description, :class => "input-xlarge" %>
		    </div>
		  </div>
				  <div class="actions">
		    <%= f.submit %>
		  </div>
	</fieldset>
	<% yield :button_group %>
<% end %>
