- space = "&nbsp;".html_safe 
/%a{ "ng-click" => "openRegister($event)",
/    "ng-show"  => "isRegisterClosed(achievement.id)" }
/  %i.icon-chevron-down
/  = "Open" 
/%a{ "ng-click" => "closeRegister($event)",
/    "ng-show"  => "!isRegisterClosed(achievement.id)" }
/  %i.icon-chevron-up
/  = "Close" 
%a{ :href => "" }
  %i.icon-cog
  = "Details"
%a{ :href => "" }
  %i.icon-hand-down
  = "Pending"
