%table.table.table-hover.table-bordered.table-list
  %tr{ "ng-repeat" => "achievement in achievements" } 
    %td{:id         => "achievement-{{ achievement.id }}",
        :expandable => true,
        :actionable => "achievement" }
      %a{ "ng-href" => "/achievements/{{ achievement.id }}" }
        = "{{ achievement.title }}"
      %br
      = "{{ achievement.description}}"
      %p.actions
        = render 'achievements/list_options'
      .children{"comments-loader" => true,
                "loader"          => "achievement" }
