<legend>Listing achievements</legend>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @achievements.each do |achievement| %>
    <tr>
      <td><%= achievement.title %></td>
      <td><%= achievement.description %></td>
			<td>
		    <div class="btn-group">
			    <button class="btn dropdown-toggle" data-toggle="dropdown">
			    Action
			    <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu">
			    	<li><%= link_to 'Show', achievement  %></li>
			    	<li><%= link_to 'Edit', edit_achievement_path(achievement)  %></li>
			    	<li class="divider"></li>
			    	<li><%= link_to 'Destroy', achievement, method: :delete, data: { confirm: 'Are you sure?' } %></li>
			    </ul>
		    </div>
			</td>	    
    </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
<%= link_to 'New Achievement', new_achievement_path %>
</div>