<%= form_for(@user, :html => { :class => "form-horizontal well" }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<legend>user Details</legend>
				  <div class="control-group">
		    <%= f.label :first_name, :class => "control-label" %>
		    <div class="controls">
		    <%= f.text_field :first_name, :class => "input-xlarge" %>
		    </div>
		  </div>
				  <div class="control-group">
		    <%= f.label :last_name, :class => "control-label" %>
		    <div class="controls">
		    <%= f.text_field :last_name, :class => "input-xlarge" %>
		    </div>
		  </div>
				  <div class="control-group">
		    <%= f.label :password, :class => "control-label" %>
		    <div class="controls">
		    <%= f.text_field :password, :class => "input-xlarge" %>
		    </div>
		  </div>
				  <div class="control-group">
		    <%= f.label :email, :class => "control-label" %>
		    <div class="controls">
		    <%= f.text_field :email, :class => "input-xlarge" %>
		    </div>
		  </div>
				  <div class="control-group">
		    <%= f.label :login, :class => "control-label" %>
		    <div class="controls">
		    <%= f.text_field :login, :class => "input-xlarge" %>
		    </div>
		  </div>
				  <div class="control-group">
		    <%= f.label :avatar, :class => "control-label" %>
		    <div class="controls">
		    <%= f.text_field :avatar, :class => "input-xlarge" %>
		    </div>
		  </div>
			<div class="actions">
				<%= f.submit :class => "btn btn-info" %>
				<%= link_to 'Back', users_path, :class => "btn" %>
			</div>
	</fieldset>
<% end %>