<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
  	<div class="<%= provider.to_s %>">
    <%= link_to "", omniauth_authorize_path(resource_name, provider), :title => "Sign in with #{provider.to_s.titleize}" %>
	</div>
  <% end -%>
<% end -%>