.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{ "data-toggle" => "collapse", "data-target" => ".nav-collapse" }
        %i.icon-cog
      %a.brand{ :href => "./index.html" }
        %s= "Life"
        = "OnCharts.com"
        %sup= "Beta"
      .nav-collapse.collapse
        %ul.nav.pull-right
          %li
            = link_to root_path do
              %i.icon-chevron-left
              = "Back to Homepage"
