.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{ "data-toggle" => "collapse", "data-target" => ".nav-collapse" }
        %i.icon-cog
      %a.brand{ :href => "./index.html" }
        %s= "Life"
        = "OnCharts.com"
        %sup= "Beta"
      .nav-collapse.collapse
        %ul.nav.pull-right
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{ :href => "#", "data-toogle" => "dropdown" }
                %i.icon-cog
                = "Settings"
                %b.caret
              %ul.dropdown-menu
                %li= link_to 'Edit profile', edit_user_registration_path
                %li.divider
                %li
                  %a{ :href => "javascript:;"}
                    = "Help"

            %li.dropdown
              %a.dropdown-toggle{ :href => "#", "data-toogle" => "dropdown" }
                %i.icon-user
                = current_user.email
                %b.caret
              %ul.dropdown-menu
                %li= link_to 'My Profile', ""
                %li= link_to 'My Groups', ""
                %li.divider
                %li= link_to 'Logout', destroy_user_session_path, method: "delete"
          - else
            %li
              = link_to new_user_registration_path do
                %i.icon-edit
                = "Sign in"
            %li
              = link_to new_user_session_path do
                %i.icon-signin
                = "Login"
      %form.navbar-search.pull-right
        %input.search-query{ type:"text", placeholder:"Search" }
