- content_for :css do
  = stylesheet_link_tag "pages/reports", :media => "all"
  = stylesheet_link_tag "pages/custom", :media => "all"

- content_for :content do
  .main
    .container
      .row
        .span4
          %a{ :href => "#newCommentModal", "data-toggle" => "modal" }
            Create Achievement
      .row
        .span12
          .widget.big-stats-container.stacked
            .widget-content
              .cf{ :id => "big_stats" }
                .stat
                  %h4 Challenges
                  %span.value= "12"
                .stat
                  %h4 Achievements
                  %span.value= "12"
                .stat
                  %h4 Teams
                  %span.value= "12"
                .stat
                  %h4 Comments of Blog
                  %span.value= "12"
      .row
        .span4{ "ng-controller" => "AchievementsCtrl" }
          %div.animate-switch-container{ "ng-switch" => true, :on => "selection" }
            .widget.stacked.widget-table.action-table{ "ng-switch-when" => "list" }
              .widget-header
                %span.icon-list-alt
                %h3 Top Achievements
              .widget-content.widget-scrollable
                = render "achievements/list"
            .widget.stacked.widget-table.action-table{"ng-switch-when" => "details" }
              .widget-header
                %span.icon-list-alt
                %h3 Achievement Details
              .widget-content.widget-scrollable
                = render text: "Loading details... Wait."


  .modal.fade.hide{ :id => "newCommentModal" }
    .modal-header
      %button.close{ :type => "button", "data-dismiss" => "modal" }= "&times;".html_safe
      %h3= "Modal header"
    .modal-body
      %p= "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

    .modal-footer
      %a.btn{ :href => "javascript:;", "data-dismiss" => "modal" }= "Close"
      %a.btn.btn-primary{ :href => "javascript:;" }= "Save changes"
