<% if params[:form] == "register" %>
$('#access_container').slideUp(400, function() {
	$('#access_container .caption').empty()
	$('#access_container .caption').append('<%= j render :partial => "/users/registration_form", :locals => { :user => @user } %>')
	$('#access_container').slideDown()
});
<% else %>
$('#access_container').slideUp(400, function() {
	$('#access_container .caption').empty()
	$('#access_container .caption').append('<%= j render :partial => "/users/login_form", :locals => { :user => @user } %>')
	$('#access_container').slideDown()
});
<% end %>
