<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
	    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<link href="/assets/twitter-bootstrap-static/bootstrap.css" media="all" rel="stylesheet" type="text/css" />
		<link href="/assets/bootswatch.css" media="all" rel="stylesheet" type="text/css" />
		<style type="text/css">
			.navbar-inner-mail {
			    background-color: #FAFAFA;
			    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
			    background-repeat: repeat-x;
			    border: 1px solid #D4D4D4;
			    border-radius: 4px 4px 4px 4px;
			    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
			    min-height: 40px;			
			}
			.content-mail {
				padding-top:25px;
			}
		</style>
	</head>
	<body>
		<table cellspacing="0" cellpadding="0" style="width:100%;">
			<tr height="30" class="navbar-inner-mail">
				<td width="25"></td>
				<td width="750">
					<h3>Register Confirmation</h3>
				</td>
				<td width="25"></td>
			</tr>
			<tr>
				<td width="25"></td>
				<td width="750" class="content-mail"><p>Congratulations,<br><br>
					You have been registered with success at <a href="localhost:3000">Dashboard</a>.<br></br>
					To access as member you will need this password: <strong>23klj234l23</strong><br><br>
					Once you login for first time you could change your password from your configuration profile.<br><br>
					Best regards and Enjoy your access!!</p>
				</td>
				<td width="25"></td>
			</tr>
			<tr height="5">
				<td colspan=3><hr></td>
			</tr>
			<tr height="20">
				<td width="25"></td>
				<td width="750">Made by <strong>David Sáenz Tagarro</strong>. &nbsp;&nbsp;&nbsp;Contact him <a href="mailto:david.saenz.tagarro@gmail.com"><strong>david.saenz.tagarro@gmail.com</strong></a>. &nbsp;&nbsp;&nbsp;Based on <strong>Ruby On Rails</strong></td>
				<td width="25"></td>
			</tr>
		</table>
	</body>
</html>