!!!
%html{ "ng-app" => "lifeOnChartsApp" }
  %head
    %title= "Dashboard :: A Rails Startup"
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" }
    %meta{ name:"apple-mobile-web-app-capable", content:"yes" }    
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    %link{ href:"http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600", rel:"stylesheet" }
    - if content_for? :css
      = yield :css 
  %body
    = content_for?(:nav) ? yield(:nav) : render('public/nav')

    = content_for?(:subnav) ? yield(:subnav) : render('public/subnav')
      
    = content_for?(:content) ? yield(:content) : yield('public/content')

    = content_for?(:footer) ? yield(:footer) : render('public/footer')

    = javascript_include_tag "application"
