<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body class="preview">
	<h3>Especifica</h3>
	<%= yield :button_group %>
<div class="container">
<%= yield %>
</div>
</body>
</html>